<h1>Nuevo departamento</h1>

<form class="mt-3" method="post">
    <label class="form-label">Nombre</label>
    <input type="text" name="nombre" class="form-control" />
    <label class="form-label mt-3">Localidad</label>
    <input type="text" name="localidad" class="form-control" />
    <button class="btn btn-dark w-100 mt-3">Insertar departamento</button>
</form>